@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: #ffffff;
    --text: #020617;
  }

  .dark {
    --bg: #020617;
    --text: #e5e7eb;
  }

  body {
    background-color: var(--bg);
    color: var(--text);
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Arial, sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  a {
    text-decoration: none;
  }
  section {
  scroll-margin-top: 80px;
}

img {
  user-select: none;
}
}
